h1 {
  font-size:2.3em;
}

h3 {
  margin-top:1em;
}


.hitTable {
  width: 100%;
  margin: 0 auto;
  border-spacing: 1px;
}

.hitTable tbody tr:hover{
  background-color: rgba(0,0,0,.05);
}

.hitTable td{
  margin: auto;
  text-align: center;
  padding: 0.4em;
}
.hitTablePart{
  min-width: 8em;
}

.dropTable {
  display: inline-table;
  width: 33%;
  margin:1em auto;
  border-spacing: 0em 0.2em;
}
.dropTable th{
  padding-bottom: 0.3em;
}

.nav {
  list-style: none;
  padding: 2em 0em;
}

.nav li {
  float: left;
}

.nav li a {
  padding: 0.2em 1.4em;
  border-right: 1px solid black;
  cursor: pointer;
}
.nav li .navactive {
  font-weight: 600;
}

.tline {
  border-bottom: 1px solid #ccc;
}


.Blaze0 {
  background-color: #FFAB40;
}
.Blaze1 {
  background-color: #FFE0B2;
}
.Freeze0 {
  background-color: #40C4FF;
}
.Freeze1 {
  background-color: #B3E5FC;
}
.Spark0 {
  background-color: #FFEE58;
}
.Spark1 {
  background-color: #FFF9C4;
}
.God0 {
  background-color: #BA68C8;
}
.God1 {
  background-color: #E1BEE7;
}

.critzone {
  background-color: #FF8A80;
}
.redzone {
  background-color: #FFCDD2;
}
.greenzone {
  background-color: #EEEEEE;
}
.grayzone {
  background-color: #BDBDBD;
}

.x {
  background-color: rgb(243, 243, 243);
}
