.header {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

.navbar {
   max-width: 980px;
   margin: auto;
   overflow: auto;
   padding-bottom: 5px;
   padding-top: 5px;
   text-align: center;
}

.site-title {
  font-weight: 300;
  font-size: 24px;
  float: left;
}

.navlink {
  font-size: 24px;
  text-transform: capitalize;
}
