.header {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

.navbar {
   max-width: 980px;
   margin: auto;
   overflow: auto;
   padding-bottom: 5px;
   padding-top: 5px;
   text-align: center;
}

.site-title {
  font-weight: 300;
  font-size: 24px;
  float: left;
}

.navlink {
  font-size: 24px;
  text-transform: capitalize;
}

.search:focus + .results {
  display: block;
 }

 .results:hover {
   display: block;
  }

.results {
  display:none;
  position: absolute;
 left: 0;
 right: 0;
 z-index: 10;
 padding: 0;
 margin: 0 auto;
 width: 10%;
 background-color: #eee;
}

.results li {
  display: block;

}
.results li:first-child:before, .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.results a {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 6px;
    border-bottom: solid 1px black;
}
