.container{
  height: 100%;
}

.app {
  max-width: 980px;
  margin: auto;
  padding-top: 14px;
  overflow: auto;
  min-height: 100%;
  margin-bottom: -15px;
}

.app a:visited, a:link {
  color: #0288D1;
}
.app a:hover {
  text-decoration: underline;
}
